@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  overflow: hidden;

}

a {
  color: white;
}

a:hover {
  color: #72F7F4;
}

.box {
  z-index: 20;
  padding: 0em 1.5em 1em 1.5em;
  margin: 2em;
  background-color: #2D2D2D;
  position: fixed;
  color: white;
  border: 2px solid #72F7F4;
}

.App-about {
  right: 0;
  top: 0;
  height: 14em;
  width: 13.5em;
}

.App-title {
  font-size: 2em;
  font-weight: 600;
}

.map {
  pointer-events: none;
  height: 100vh;
  transform: scale(1.2)
}

.map-vector {
  stroke-width: 0.25;
  stroke: #33FFE1;
  fill: none;
}

.App-tweets {
  background-color: #2D2D2D;
  bottom: 1em;
  left: 2em;
  width: 13.5em;
  height: 16em;
  overflow-y: scroll;

}

.tweet {
  text-align: justify;
  margin: 0.8em auto;
  border: 1px solid #FFFFFF;
  padding: 0em 0.25em;
}

.tweet:hover {
  border: 1px solid #72F7F4;
}

.App-legend {
  text-align:justify;
  background-color: #2D2D2D;
  padding-bottom: 0.2em;
  bottom: 4em;
  right: 2em;
}

.dataPoint {
  transform: scale(2);
  position: relative;
}
